@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* Nav Syles */
header{
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
   max-width: 1100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin: 0 auto;
   margin-top: -10px;
   margin-bottom: -10px;
}
.btnn {
   border: none;
   color: #222;
   padding: 3px 8px;
   font-size: 16px;
   border-radius: 8px;
   background: rgba(11, 2, 35, 0.10);
 }
.logo-div{
   display: flex;
   border-radius: 50px;
   background-color: #fff;
   align-items: center;
   justify-content: center;
   border: 2px solid #fff;
}
.lmini{
   width: 60px;
}
.lgtitle{
   padding: 10px;
   color: #0B0223;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}
.nav-menu-link{
   margin: 30px 0;
}
.nav-item{
   padding: 0 15px;
   color: #222;
   text-decoration: none;
}

 /* Hero Syles */
 .hero-section{
   max-width: 1200px;
   display: flex;
   align-items: center;
   padding: 0px 120px;
   
}
.intro-text{
   width: 50%;
   padding-top: 100px;
   padding-bottom: 100px;
}
.play{
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 600;
}
.goat{
   font-size: 60px;
   font-weight: 800;
   padding-top: 10px;
   padding-bottom: 20px;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.intro-para1{
   font-size: 18px;
   color: #222;
}
.btn-group{
   display: flex;
   gap: 15px;
   padding-top: 20px;
}
.hr1-button, .hr2-button{
   padding: 12px 28px;
   background-color: #FF42A5;
   text-transform: uppercase;
   border: 0px;
   border-radius: 50px;;
   color: #fff;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
}
.hr2-button{
   background-color: #4EC5F7;
}
.pic{
   width: 500px;
   
}
/* Gamer */
.gamesection{
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.ins-section{
   max-width: 1200px;
   display: flex;
   align-items: center;
   padding: 0px 120px;
   margin-bottom: 50px;
}
.ins-text{
   text-align: right;
   width: 45%;
   padding-right: 100px;
   padding-top: 100px;
   padding-bottom: 100px;
}
.ins-heading{
   font-size: 40px;
   font-weight: 800;
   padding-top: 10px;
   padding-bottom: 20px;
}
.clo{
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.intro-para{
   font-size: 18px;
   padding-bottom: 10px;
   color: #222;
}
.gpicu{
   width: 600px;
}
.gmr-button{
   margin-top: 18px;
   padding: 12px 28px;
   background-color: #FF42A5;
   text-transform: uppercase;
   border: 0px;
   border-radius: 50px;;
   color: #fff;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
}
 /* Funny video section Syles */
 .fun-info{
   text-align: center;
   padding-top: 50px;
   padding-bottom: 30px;
}
.fun-title{
   font-size: 36px;
   font-weight: 700;
}
.fun-para{
   font-size: 18px;
   padding-top: 10px;
   color: #222;
}
.fun-gallery{
   max-width: 900px;
   margin: auto;
   text-align: center;
   padding-bottom: 60px;
   display: flex;
   justify-content: space-around;
   gap: 20px;
}

.fea-gl-img{
   width: 250px;
   border-radius: 12px;

}
.one1{
  background-color: #E55473;
}
.two2{
  background-color: goldenrod;
}
.three3{
  background-color: darkmagenta;
}
.fea.gl-item{
   display: block;
}

/* Instantly */
.ins-section{
   max-width: 1200px;
   display: flex;
   align-items: center;
   padding: 0px 120px;
   margin-bottom: 50px;
}
.ins-text{
   text-align: right;
   width: 45%;
   padding-right: 100px;
   padding-top: 100px;
   padding-bottom: 100px;
}
.ins-heading{
   font-size: 40px;
   font-weight: 800;
   padding-top: 10px;
   padding-bottom: 20px;
}
.clo{
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.intro-para{
   font-size: 18px;
   padding-bottom: 10px;
   color: #222;
}
.picu{
   width: 400px;
   margin-left: 100px;
   
}
.picu2{
   border: 4px solid #fff;
   width: 170px;
   margin-top: -170px;
}
/* Before Footer section Syles */
.before-footer{
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
   padding: 80px 0;
}
.icon-container{
   display: flex;
   gap: 30px;
   align-items: center;
   justify-content: center;
   margin: 30px 0;

}
.icon-div{
   display: flex;
   padding: 10px;
   border-radius: 50px;
   background-color: #fff;
   align-items: center;
   justify-content: center;
   border: 2px solid #fff;
}
.icon-div:hover{
   cursor: pointer;
   border: 2px solid #FF42A5;
}
.mini{
   width: 40px;
   height: 40px;
}
.spara{
   padding: 10px;
   color: #0B0223;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.btn {
   background-color: DodgerBlue;
   border: none;
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
 }
/* Footer section Syles */
.foot-logo-div{
   display: flex;
   border-radius: 50px;
   align-items: center;
   justify-content: center;
}
.fgtitle{
   padding: 10px;
   color: #fff;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}
.footer-info{
   background-color: #0B0223;
   text-align: center;
   padding: 80px 0;
}
.footer-title{
   font-size: 40px;
   font-weight: 800;
   color: #fff;
}
.foot-menu-link{
   margin: 30px 0;
}
.foot{
   padding: 0 15px;
   color: #fff;
   text-decoration: none;
}

.fa {
   padding: 10px;
   font-size: 15px;
   width: 15px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   border-radius: 50%;
 }
 
 .fa:hover {
     opacity: 0.7;
 }
 
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 
 .fa-instagram {
   background: #125688;
   color: white;
 }
 
 .fa-linkedin {
   background: #007bb5;
   color: white;
 }
 
 .fa-youtube {
   background: #bb0000;
   color: white;
 }
 .copyright{
   color: rgba(255, 255, 255, 0.60);
   padding-top: 10px;
}
.foot-opt-link{
   margin: 30px 0;
}
.foot2{
   padding: 0 15px;
   color: rgba(255, 255, 255, 0.60);
   text-decoration: none;
}